* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
.introduction {
	margin: 50px;
}

.features {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.features > article {
	min-width: 500px;
}

.home {
	margin: 5px auto 30px;
	line-height: 1.6;
	max-width: 800px;
}
