button {
    min-width: 30%;
    max-width: 30%;
}

main {
    border: none;
}

.reg button a {
    color: #1d1d1d;
}

.reg {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    min-height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.reg input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    color: #1d1d1d;
    border-radius: 5px;
    font-size: 16px;
}

.reg .loginButton {
    width: 100%;
    padding: 12px;
    color: #272927;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.reg button {
    width: 100%;
    background: none;
    font-size: 14px;
    margin-top: 10px;
}
