.install {
	margin: 20px;
	line-height: 2;
	max-width: 800px;
	padding: 20px;
	border: 1px solid grey;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2 {
	margin-bottom: 10px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
}
