@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	background-color: #f4f5f7;
	color: #1e1e1e;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	font-family: inherit;
	background-color: #f4f5f7;
	color: inherit;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	color: #1e1e1e;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.5rem;
	margin-top: 3rem;
}

p {
	margin-bottom: 1rem;
	font-size: 1rem;
	color: #333;
}


ul {
	list-style: none;
	padding-left: 1.5rem;
}

ul li {
	margin-bottom: 0.5rem;
}


main {
	min-height: 100vh;
	width: 90%;
	max-width: 1200px;
	margin: 3rem auto;
	padding: 2rem;
	border: 2px solid #d1d1d1;
	border-radius: 30px;
	animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


button {
	display: inline-block;
	padding: 0 14px;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	color: #3d4f58;
	background-color: #fafbfc;
	border: 1px solid #89979b;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(6, 22, 33, 0.1);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:hover {
	background-color: #ffffff;
	border-color: #5d6c74;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 0 0 3px #e7eeec;
}


header,
footer {
	background-color: #1c2b33;
	color: #ffffff;
	padding: 2rem;
	font-weight: 600;
	text-transform: uppercase;
}

header nav ul,
footer ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.SYNF {
	margin-right: auto;
	font-size: 1.25rem;
}

a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	transition: color 0.2s ease;
}

a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #b2b8bb;
	border-radius: 2px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease-in-out;
}

a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

@media (max-width: 768px) {
	main {
		width: 95%;
		padding: 1.5rem;
	}

	h1 {
		font-size: 2rem;
	}

	header nav ul,
	footer ul {
		flex-direction: column;
		gap: 1rem;
	}

}
