.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}
.card {
	background-color: #18272f;
	padding: 20px;
	min-width: 100%;
	min-height: 250px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	margin: 50px;
}

.card > h3 {
	color: white;
}

.card > p {
	text-transform: lowercase;
	color: #ffffff;
	font-weight: 600;
	margin-top: 10px;
	font-size: 20px;
}
.stat-value {
	font-size: 2em;
	font-weight: 600;
	color: #ffffff;
}
